
.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button-login{
    text-decoration: none;
    border-style: none;
    position: absolute;
    cursor: pointer;
    background: #00BFA5;
	color: #fff;
	display: inline-flex;
	padding: 10px 15px;
	font-size: 1.1em;
	border-radius: 5px;
    transition: 0.6s;
	cursor: pointer;
    text-transform: capitalize;
    left: 105px;
    top: 68%;

}
.button-login:hover{
    background: #075e54
}

