@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.navbar-body{
    margin: 0;
    padding: 0;
    min-height: 200vh;
}
.navbar-header{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1;
}
.navbar-header .logo{
    position: relative;
    font-weight: 700;
    color: #00BFA5;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    cursor: default;
}
.navbar-header .logo:hover{
    color: #075e54;
}
.navbar-header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.navbar-header ul li{
    position: relative;
    list-style: none;
 }
.navbar-header ul li a{
    position: relative;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 500px;
    transition: 0.6s;
    cursor: pointer;
}
.navbar-header.sticky{
    padding: 5px 100px;
    background-color: #00BFA5;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}
.navbar-header.sticky ul li a{
    color: #fff;
}
.navbar-header.sticky .logo{
    color: #fff;
}
.navbar-header ul li a:hover{
    color: #075e54
}
.navbar-header.sticky ul li a:hover{
    color: #075e54;
}