.newChat{
    width: 35%;
    max-width: 415px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
    transition: all ease 0.5s;
}
.newChathead{
    display: flex;
    background-color: #00BFA5;
    align-items: center;
    padding: 60px 15px 15px 15px;
}
.newChatbackbutton{
    color: #fff;
    transition: 0.25s;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.newChatbackbutton:hover{
    color: rgb(214, 214, 214);
}
.newChatheadtitle{
    cursor: default;
    font-size: 19px;
    height: 40px;
    line-height: 40px;
    flex: 1;
    font-weight: bold;
    margin-left: 20px;
    color: #fff;
    transition: 0.25s;
}
.newChatheadtitle:hover{
    color: rgb(214, 214, 214);
}
.newChatlist{
    flex: 1;
    overflow-y: auto;
}
.newChatlist::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2);
}
.newChatlist::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.newchatitem{
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: 0.25s;
}
.newchatitem:hover{
    background-color: #F5F5F5;
}
.newchatitemavatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.newchatitemname{
    font-size: 17px;
    color: black;
}